@import '../abstract/variaveis';

#curiosidades {
    padding: 1rem;
    text-align: center;
    margin: 5px;
    color:red;
    h3 {
        color: $primary-color;
        font-size: calc($text-size/2.5);
    }
    h4 {
        color: $secondary-color;
        font-size: calc($text-size/3);
    }
    p {
        margin-top: 5px;
        color: $primary-color;
    }
}